<!-- prettier-ignore -->
{% extends "layouts/base.html" %}

{% block title %}Track your time{% endblock %}

{% block content %}
<div>Time has yet to begin</div>
<div id="header" class="text-center flex">
    <div class="">Time</div>
    <div class="grid grid-cols-7 flex-1">
        {% for day in days %}
        <div>{{ day }}</div>
        {% endfor %}
        </div>
    </div>
</div>

<div id="content" class="flex">
    <div id="time" class="text-xs flex-none">
        <div class="grid grid-rows-24 border-r divide-y">
            {% for hour in hours %}
            <div>
                {% for minute in minutes %}
                <div>{{ hour }}:{{ minute }}</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="grid grid-cols-7 divide-x flex-1">
        {% for day in days %}
        <div class="grid grid-rows-24 divide-y">
            {% for hour in hours %}
            <div class="flex flex-col">
                {% for minute in minutes %}
                <div class="flex-1 hover:bg-sky-800 rounded"></div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    </div>
